* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: url("pedro-lastra-Nyvq2juw4_o-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.login {
  /* background: transparent; */
  border: 2px solid white;
  backdrop-filter: blur(4px);
  color: white;
  border-radius: 0.8rem;
  padding: 5rem 2.5rem 1.7rem;
  width: 30rem;
  /* height: 30rem; */
  font-size: 1.1rem;
  transition: all 1s;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.528);
}
.login h2 {
  text-align: center;
  font-size: 3rem;
  margin: -3rem 0 3rem;
}
.login .input-box {
  margin: 2rem 0;
  width: 100%;
  height: 3rem;
  position: relative;
}
.input-box input {
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.6rem;
  background: transparent;
  border: 1px solid white;
  padding: 0 0 0 0.8rem;
  width: 100%;
  height: 100%;
  /* margin: 0; */
  outline: none;
  transition: all 0.3s;
}
.input-box input:placeholder-shown:hover {
  background-color: rgba(255, 255, 255, 0.176);
}
.input-box input::placeholder {
  color: white;
}
.input-box input:focus::placeholder,
.inpux-box input:valid::placeholder {
  color: rgb(207, 207, 207);
}
.input-box input:focus,
.inpux-box input:valid {
  background-color: rgba(255, 255, 255, 0.176);
}
.input-box i {
  position: absolute;
  right: 20px;
  top: 85%;
  transform: translateY(0);
}
.login .remember-forget {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1rem;
}
.remember-forget a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.remember-forget label input {
  accent-color: white;
}
.remember-forget a:hover {
  text-decoration: underline;
}
.btn {
  margin: 0 0 1.2rem;
  width: 100%;
  height: 3rem;
  background: white;
  border-radius: 0.6rem;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  transition: all 0.3s;
}
.btn:hover {
  background: transparent;
  color: white;
  box-shadow: 0 0 5px 2px white;
  cursor: pointer;
}
.sign-up {
  margin: 0 0 0.6rem;
  text-align: center;
}
.sign-up a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.sign-up a:hover {
  text-decoration: underline;
}
footer {
  color: white;
  position: fixed;
  bottom: 1rem;
  font-size: 1.2rem;
}
footer a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
footer a:hover {
  text-decoration: underline;
}



/* media query for responsive website */
@media (max-width: 528px){
  main .login{
    width: 28rem;
    /* font-size:1rem; */
    /* margin: 0 10%; */
    transform: scale(0.8);
  }
  body{
    /* background-size: 450%; */
    /* background-repeat: repeat; */
    background-position: center;
  }
  footer{
    position: fixed;
    bottom: 1rem;
    }
  }
  @media (max-width: 432px){
    main .login {
      transform: scale(0.7);
      width: 23rem;
      height: auto;
      font-size: .95rem;
      padding: auto 1rem;
    }
    
}